<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="sourceFolderPath" value="" />
    <add key="destinationFolderPath" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ConvertServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://codeconverter.sharpdevelop.net/ConvertService.asmx"
          binding="basicHttpBinding" bindingConfiguration="ConvertServiceSoap"
          contract="ConvertService.ConvertServiceSoap" name="ConvertServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>